body {
  background-image: url("music_img/pexels-mingyue-h-3812712.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
.box {
  background: linear-gradient(#ffffff, #974697);
  opacity: 0.65;
  width: 700px;
  height: 500px;
  padding: 50px;
  margin-top: 100px;
  margin-left: 400px;
  margin-bottom: 200px;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
}
.box:hover {
  transform: scale(1.1);
  transition: 0.9s;
}

h1 {
  font-family: verdana;
  font-style: bold;
  font-size: 50px;
  text-align: center;
}
h2 {
  font-family: cursive;
  font-size: 40px;
  text-align: center;
}
p,
ul > li {
  font-family: MV Boli;
  font-size: 20px;
  color: rgb(20, 1, 22);
}
